body {
	background-color: black !important;
	padding:50px;
	font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #595959;
    height: 3000px;
}

p {
	font-size: 1.2em !important;
}

#horizRule {
	background-color: #fff;
	position: fixed;
	left: 50%;
  transform: translate(-50%, 0);
	height: 1px;
}
