body, html {
    height: 100%;
}

body {
	background-color: black !important;
	font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #595959;
    
    p {
        font-size: 1.2em !important;
        font-family: 'Teko', sans-serif;
        color: darkgray;
    }
    
    .flex-container {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    #sideBar {
        height: 100%;
        
        img {
            width: 100%;
        }
        
        p {
            margin-bottom: 0px;
            line-height: 1;
        }
        
        border-right-color: darkgrey;
        border-right-style: dashed;
        border-right-width: medium;
    }
    
    #main {
        padding-left: 0px;
        .article {
            overflow: auto;
            height: 100%;
            width: 100%;
            padding: 5px;
            margin-top: 10px;
            
            border-right: medium dotted darkgray;
            border-top: medium dotted darkgray;
            border-bottom: medium dotted darkgray;
            border-radius: 10px;
            
            img {
                width: 100%;
                height: auto;
            }
            
            .titleRow p {
                font-size: 2em !important;
            }
            
            .date p {
                float: right;
            }
        }
    }
    
}
