body, html {
    height: 100%;
}

body {
    
	font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    p {
        font-size: 1.2em !important;
        font-family: 'Share Tech Mono', monospace;
    }
    
    .flex-container {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    #sideBar {
        height: 100%;
        
        img {
            width: 100%;
        }
        
        p {
            margin-bottom: 0px;
            line-height: 1;
        }
        
        border-right-style: dashed;
        border-right-width: medium;
        
        .assetTitle {
            text-align: center;
            font-size: 2em;
        }
        
        .assetHeading {
            font-weight: bold;
            text-align: justify;
        }
    }
    
    #main {
        padding-left: 0px;
        .article {
            overflow: auto;
            height: 100%;
            width: 100%;
            padding: 5px;
            margin-top: 10px;
            
            img {
                width: 100%;
                height: auto;
            }
            
            .titleRow p {
                font-size: 2em !important;
            }
            
            .date p {
                float: right;
            }
        }
    }
    
}

#arcNetNews {
    color: white;
    background-color: black;

    .article {
        border-right: medium dotted darkgray;
        border-top: medium dotted darkgray;
        border-bottom: medium dotted darkgray;
    }

    #sideBar {
        border-right-color: darkgrey;
    }
}

#deltaCorp {


color: #26990c;
background-color: #212121;


    #sideBar {

        border-right-color: #26990c;

        .asset {
            padding: 5px;
            border-top: medium dotted #26990c;
            border-bottom: medium dotted #26990c;
        }

    }

    .article {
        border-right: medium dotted #26990c;
        border-top: medium dotted #26990c;
        border-bottom: medium dotted #26990c;
    }



}

#arcFed, #deltaCorp, #arcNet, #uAC, #lotus, #maw {
    
    #sideBar {
        padding: 0px;
        
        .code p {
            padding-left: 5px;
        }

        .assetHeading {
            width: 10%;
        }

         .assetTable div {
            padding-right: 5px;
        }

        .assetTitle {
            font-size: 2em;
            text-align: center;
        }
        
        .article {
            img {
                max-height: 200px;
                max-width: 200px;
            }
        }
    }
    
}

#arcFed {


color: #0046aa;
background-color: #212121;


    #sideBar {

        border-right-color: #0046aa;

        .asset {
            border-top: medium dotted #0046aa;
            border-bottom: medium dotted #0046aa;
        }

    }

    .article {
        border-right: medium dotted #0046aa;
        border-top: medium dotted #0046aa;
        border-bottom: medium dotted #0046aa;
    }



}

#arcNet {


color: lightgray;
background-color: black;


    #sideBar {

        border-right-color: lightgray;

        .asset {
            border-top: medium dotted lightgray;
            border-bottom: medium dotted lightgray;
        }

    }

    .article {
        border-right: medium dotted lightgray;
        border-top: medium dotted lightgray;
        border-bottom: medium dotted lightgray;
    }



}

#uAC {


color: orangered;
background-color: #212121;


    #sideBar {

        border-right-color: orangered;

        .asset {
            border-top: medium dotted orangered;
            border-bottom: medium dotted orangered;
        }

    }

    .article {
        border-right: medium dotted orangered;
        border-top: medium dotted orangered;
        border-bottom: medium dotted orangered;
    }



}

#lotus {


color: #d7980b;
background-color: #212121;


    #sideBar {

        border-right-color: #d7980b;

        .asset {
            border-top: medium dotted #d7980b;
            border-bottom: medium dotted #d7980b;
        }

    }

    .article {
        border-right: medium dotted #d7980b;
        border-top: medium dotted #d7980b;
        border-bottom: medium dotted #d7980b;
    }



}

#maw {


color: #4d2689;
background-color: #212121;


    #sideBar {

        border-right-color: #4d2689;

        .asset {
            border-top: medium dotted #4d2689;
            border-bottom: medium dotted #4d2689;
        }

    }

    .article {
        border-right: medium dotted #4d2689;
        border-top: medium dotted #4d2689;
        border-bottom: medium dotted #4d2689;
    }



}
